<div class="container__big-card">

    <div class="big-card__photo">
        <img 
        src="../../../assets/angular.jpeg" 
        alt="" 
        height="395px"
        width="645px"
        srcset="">
    </div>

    <div class="big-card__title">
        <h1><a href="#">Estou usando Angular 15</a></h1>
    </div>

    <div class="big-card__description">
        <p>Lorem Ipsum is simply dummy text of the 
            printing and typesetting industry. Lorem
             Ipsum has been the industry's standard
              dummy text ever since the 1500s, when 
        </p>
    </div>

</div>
