<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-card__photo">
            <img 
            src="../../../assets/series.jpeg" 
            alt="" 
        
            width="200px"
            srcset="">
        </div>
    
        <div class="small-card__title">
            <h1><a href="#">Serie O tunel do tempo</a></h1>
        </div>
    </div>
    <div class="container__small-card__separator">
        <hr>
    </div>
    
</div>
